.main-table{
 
        border-radius: 20px;
        border: 8px solid rgba(0, 0, 0, 0.262);
        padding: 50px;
        width: 480px;
        height: 500px;
        
}
.name{
    font-size: 20px;
    padding-bottom: 15px;
    
}
.name-input{
    padding-bottom: 15px;
    height: 10px;
}
